*  {
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  transition: 0.5s;
  color: white;
}
/* side nav bar */
aside {
    background-color: #696969;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    margin-left: -16px;
    width: 17%;
    height: 100vh;
    margin-bottom: 0;
    text-align: center;
    text-emphasis: bold;
    transform: skewX(2deg);
}

@media only screen and (max-width: 1280px){
  aside {
   width: 23%; 
  }
}

aside h3{
    font-size: 1.7em;   
    padding-top: 50px;
    text-transform: uppercase;
    transform: skewX(-2deg);
}

aside p{
 font-size: 1.7em;   
 padding-top: 10px;
 text-transform: uppercase;
 transform: skewX(-2deg);
}

aside p:hover {
    color: #fff;
    transition: 0.8s;
}

aside h3:hover {
    color: #fff;
    transition: 0.8s;
}

aside p, aside h3 {
    display: inline;
    position: relative;
    overflow: hidden;
  }


  aside p:after, aside h3:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #fff;
    height: 4px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  
  aside p:hover:after, aside h3:hover:after,
  aside p:focus:after, aside h3:focus:after,
  aside p:active:after, aside p:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

aside img {
    width: 60%;
    padding-top: 100px;
    display: block;
    position: relative;
    left: 23%;
    transform: skewX(-2deg);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + body {
    padding-top: 0px;
  }

#services{
    position: absolute;
    top: 100%;
    left:20%;
    width: 80%;   
}

#services h1 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 30px;
  font-size: 4em;
  margin-left: -50px;
}

#services .img-wrapper {
  display: flex;
}

#services img {
  width: 700px;
  height: 400px;
  margin-right: 43px;
  margin-left: 2px;
  border: 4px solid #696969;
}